# file execution
*.out
*.exe
*.app
BFS

# object files
*.o
*.obj

# libraries
*.so
*.a
*.dll

# build folders
build/
bin/

# VS Code
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# debug
*.log